/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#eef3f8;
}



.navbar{
    background:linear-gradient(90deg,#1e3a8a,#2563eb);
    position:sticky;
    top:0;
    z-index:1000;
}


.nav-link{
    color:white;
    text-decoration:none;
    padding:12px 22px;
    border-radius:30px;
    transition:.3s;
}

.nav-link:hover{
    background:white;
    color:#2563eb;
    transform:translateY(-4px);
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.nav-link svg{
    vertical-align:middle;
}



.container{
    min-height:90vh;
}



@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .nav-link{
        width:220px;
        text-align:center;
    }
}