.home{
    text-align:center;
    padding:100px 30px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.home h1{
    font-size:60px;
    color:#182235;
    margin-bottom:20px;
}

.home p{
    font-size:22px;
    color:#666;
}

.home button{
    margin-top:40px;
    padding:15px 35px;
    font-size:18px;
    border:none;
    background:#ff7a00;
    color:white;
    border-radius:10px;
    cursor:pointer;
}

.home button:hover{
    background:#e26c00;
}